* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  box-shadow: none;
}

.timer-wrapper {
  width: 360px;
  margin-top: 24px;
  margin-left: 24px;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.value {
  font-weight: 400;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  text-transform: uppercase;

  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #2e2f42;
}

/* .minutes {
  margin-right: 36px;
} */

.text-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.text-input:hover {
  border: 1px solid #000;
}

.text-input:focus {
  border: 1px solid #4e75ff;
}

input:disabled {
  background-color: #fafafa;
  color: #808080;
  border: 1px solid #808080;
  cursor: not-allowed;
  opacity: 0.7;
}

.start-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.start-btn:hover {
  background-color: #6c8cff;
}

.start-btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flatpickr-day.today {
  border: 1px solid #4e75ff;
}

.flatpickr-day.selected {
  background-color: #4e75ff;
  color: white;
}

.flatpickr-calendar {
  background-color: #f5f5f5;
  box-shadow: none;
  font-family: 'Montserrat', sans-serif;
}

.flatpickr-months {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
